body {
  background: #011627;
  color: #d6deeb;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0 10px 0 0;
  }

  .player-symbol-O {
    color: #addb67;
  }
  .player-symbol-X {
    color: #7e57c2;
  }
}

.player-symbol {
  font-size: 1.5em;
  font-family: "Helvetica Neue", sans-serif;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: start;
  margin-bottom: 20px;
  max-width: 800px;
  background: #e2b93d;

  > .cell {
    // border: solid orange 1px;
    background: #011627;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 0;
      padding-bottom: calc(100%);
    }
  }

  .symbol-O {
    color: #addb67;
  }
  .symbol-X {
    color: #7e57c2;
  }
}

.error {
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
  background: #ab0300f2;
  border: #ef5350 solid 1px;
}
